<header class="container">
    <nav class="nav-main">
        <a class="nav-main__logo nav-main__item" href="/">
            <img src="https://via.placeholder.com/75x75?text=Web Workers" alt="NWTC Web Workers">
            <span hidden>NWTC Web Workers</span>
        </a>
        <ul class="nav-main__list">
        {%- for item in navMain  -%}
            <li class="nav-main__item">
                <a href="{{ item.link | safe | lower }}">{{ item.title | safe | upper}}</a>
            </li>
        {%- endfor -%}           
        </ul>
    </nav>    
</header>
