<header class="container">
    <nav class="nav-main">
        <a class="nav-main__logo nav-main__item" href="/">
            <img src="https://via.placeholder.com/75x75?text=Web Workers" alt="NWTC Web Workers">
            <span hidden>NWTC Web Workers</span>
        </a>
        <ul class="nav-main__list">
            <li class="nav-main__item">
                <a href="/meetups">MEETUPS</a>
            </li>
            <li class="nav-main__item">
                <a href="/about">ABOUT</a>
            </li>
        </ul>
    </nav>    
</header>