<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - NWTC Web Workers</title>
    
    {% set css %}
      {% include "css/style.css" %}      
      {% include "css/typography.css" %}      
      {% include "css/header.css" %}      
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>
</head>
<body>

    {% include "components/header.njk" %}

    <main class="main" role="main">
            {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}

</body>
</html>